@import "mixins";
/* defaul style */
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
	padding: 0; margin: 0;
}
address {
	font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

input, textarea {
	outline: none;
	border: none;
}

html, body {
	font-family: $bodyFont;
	font-size: $bodyFontSize;
	line-height: $bodyLineHeight;
	color: $bodyColor;
	margin:0;
	padding:0;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	text-size-adjust:100%;
	height: 100%;
}
body {
	position: relative;
}

.main-content {
	height: auto;
	min-height: 100%;
	box-sizing: border-box;
	background: #f7f6ed;
	min-width: $minWrapperWidth;
	overflow: hidden;
}
.main-content__wrapper {
	padding-bottom: $footerHeight;
	position: relative;
}
.wrapp {
	max-width: $maxWrapperWidth;
	min-width: $minWrapperWidth;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	z-index: 0;
	box-sizing: border-box;
}
.wrapp:before, .wrapp:after {
	content: " ";
	display: table;
}
.wrapp:after {
	clear: both;
}




/* defaul style end */
