@charset "UTF-8";
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- variables --------- */
/* colors */
/* --------- fonts --------- */
/* fonts */
@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'fira_sanslight';
  src: url("../fonts/firasans-light-webfont.eot");
  src: url("../fonts/firasans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-light-webfont.woff2") format("woff2"), url("../fonts/firasans-light-webfont.woff") format("woff"), url("../fonts/firasans-light-webfont.ttf") format("truetype"), url("../fonts/firasans-light-webfont.svg#fira_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

/* fonts end */
/* --------- sections --------- */
/* иконки слева - язык и share */
.icons {
  position: fixed;
  top: 100px;
  left: 0; }
  .icons__language {
    background: #d7d5d7;
    margin-bottom: 18px;
    font-family: "SegoeUILight";
    font-size: 20px; }
    .icons__language-item {
      display: block;
      min-width: 43px;
      margin-bottom: 1px; }

.footer {
  width: 100%;
  height: 50px;
  margin-top: -50px;
  text-align: center;
  padding: 3px 0px; }
  .footer__text {
    font-family: 'fira_sanslight';
    font-size: 12px;
    color: white; }

/* стили по умолчанию */
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

address {
  font-style: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

input, textarea {
  outline: none;
  border: none; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%; }

/* чтобы прибить футер к низу */
.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  height: auto !important;
  overflow: hidden; }
  .wrapper:after {
    content: "";
    height: 50px;
    display: block; }

/* defaul style end */
/* блок настройки */
.settings {
  color: #2e3641; }
  .settings__title {
    text-align: center;
    font-size: 26px;
    font-family: 'robotolight';
    margin: 30px 0; }

/* инпуты */
.settings__label {
  font-size: 14px;
  font-family: 'robotolight';
  display: block;
  margin-bottom: 5px; }

.settings__form {
  margin: 0 auto;
  width: 218px; }

.settings__input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #9eb2c0;
  font-size: 12px;
  color: #9eb2c0;
  outline: none;
  padding: 3px;
  line-height: 21px;
  cursor: pointer;
  height: 27px;
  position: relative; }
  .settings__input:after {
    content: ' ';
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    width: 37px;
    height: 27px;
    background: url(../img/sprite.png) 3px -101px no-repeat #f97e76;
    border-radius: 0 3px 3px 0;
    right: -1px;
    top: -1px; }
  .settings__input-hide {
    display: none;
    overflow: hidden; }

.settings__form-wrap {
  margin-bottom: 25px; }

/* инпуты END */
/* главный контейнер */
.container {
  overflow: hidden;
  position: relative;
  margin: 60px auto;
  width: 960px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.generator {
  float: left;
  background: #605b5e;
  width: 700px;
  height: 670px;
  padding: 25px; }
  .generator__title {
    font-size: 36px;
    font-family: "SegoeUILight";
    color: white;
    margin-bottom: 25px; }
  .generator__img-wrap {
    background: url(../img/bg-mini.png) repeat;
    width: 650px;
    height: 537px; }

.settings {
  float: right;
  background: #f1f1f5;
  width: 260px;
  height: 670px; }

/* общие стили */
body {
  background: fixed url(../img/bg.png) no-repeat;
  background-size: cover; }
