@charset "UTF-8";
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- variables --------- */
/* colors */
/* --------- fonts --------- */
/* fonts */
@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'fira_sanslight';
  src: url("../fonts/firasans-light-webfont.eot");
  src: url("../fonts/firasans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-light-webfont.woff2") format("woff2"), url("../fonts/firasans-light-webfont.woff") format("woff"), url("../fonts/firasans-light-webfont.ttf") format("truetype"), url("../fonts/firasans-light-webfont.svg#fira_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

/* fonts end */
/* --------- sections --------- */
/* иконки слева - язык и share */
.icons {
  position: fixed;
  top: 100px;
  left: 0; }
  .icons__language {
    margin: 0 0 18px 0;
    font-family: "SegoeUILight";
    font-size: 20px; }
    .icons__language-link {
      display: block;
      min-width: 43px;
      padding: 4px 3px;
      color: #999ca1;
      margin-bottom: 1px;
      background: #d7d5d7;
      text-align: center; }
  .icons__share {
    background: #d7d5d7 url(../img/sprite.png) no-repeat; }
    .icons__share-link {
      text-indent: -9999px;
      display: block;
      min-width: 43px;
      background: #d7d5d7; }

.icons__share-link--like {
  width: 26px;
  height: 32px;
  background-position: -5px -42px;
  text-indent: -9999px; }

.icons__share-item--like {
  position: absolute;
  left: 0px; }
  .icons__share-item--like:hover .icons__share-item--socials {
    position: absolute;
    left: 43px; }

.icons__share-item--socials {
  position: absolute;
  left: -43px; }
  .icons__share-item--socials:hover {
    position: absolute;
    left: 0px; }

.footer {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 7px 0px; }
  .footer__text {
    font-family: 'fira_sanslight';
    font-size: 12px;
    color: white; }

/*.footer {
position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
}
*/
/* стили по умолчанию */
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

address {
  font-style: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

input, textarea {
  outline: none;
  border: none; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%; }

/* чтобы прибить футер к низу */
.wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  box-sizing: content-box;
  min-height: 100%;
  min-width: 1000px;
  height: auto !important;
  overflow: hidden; }
  .wrapper:after {
    content: "";
    height: 50px;
    display: block; }

/* defaul style end */
/* блок настройки */
.settings {
  color: #2e3641; }
  .settings__title {
    text-align: center;
    font-size: 26px;
    font-family: 'robotolight';
    margin: 16px 0 34px 0; }

/* инпуты */
.settings__label {
  font-size: 14px;
  font-family: 'robotolight';
  display: block; }

.settings__form {
  width: 218px;
  margin: 0 auto; }

.settings__input {
  margin-top: 5px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #9eb2c0;
  font-size: 12px;
  color: #9eb2c0;
  outline: none;
  padding: 3px;
  line-height: 21px;
  cursor: pointer;
  height: 27px;
  position: relative; }
  .settings__input:after {
    content: ' ';
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    width: 37px;
    height: 27px;
    background: url(../img/sprite.png) 3px -101px no-repeat #f97e76;
    border-radius: 0 3px 3px 0;
    right: -1px;
    top: -1px; }
  .settings__input-hide {
    display: none;
    overflow: hidden; }

.settings__form-wrap {
  margin-bottom: 25px; }

/* инпуты END */
/* линия красная с уголком */
.line-top {
  border-top: 1px solid #f4c3c2;
  position: relative; }
  .line-top:after {
    position: absolute;
    z-index: 2;
    bottom: -10px;
    left: 50%;
    margin-left: -9px;
    content: '';
    top: 0px;
    border-top: 10px solid #f4c3c2;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent; }
  .line-top:before {
    top: -1px;
    position: absolute;
    z-index: 5;
    bottom: -8px;
    left: 50%;
    margin-left: -9px;
    content: '';
    border-top: 10px solid #f1f1f5;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent; }

/* положение */
.settings__position {
  min-height: 205px;
  padding: 13px 20px 35px 20px; }
  .settings__position-title {
    font-size: 14px;
    font-family: 'robotolight';
    margin-bottom: 38px; }

/* прозрачность */
.settings__opacity {
  min-height: 98px;
  padding: 13px 20px 33px 20px; }
  .settings__opacity-title {
    font-size: 14px;
    font-family: 'robotolight';
    margin-bottom: 20px; }

/* кнопки */
.settings__btn {
  padding: 57px 11px 25px 11px; }
  .settings__btn:before, .settings__btn:after {
    content: " ";
    display: table; }
  .settings__btn:after {
    clear: both; }
  .settings__btn-reset {
    float: left;
    background: #c1cfd9; }
  .settings__btn-download {
    float: right;
    background: #f97e76; }

.form__btn {
  outline: none;
  border: none;
  padding: 8px;
  color: #f1f1f5;
  font-size: 18px;
  font-family: 'robotomedium';
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 99px; }

/* главный контейнер */
.main-content {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0; }

/* &:before {
		content: "";
		display: inline-block;
		height: 100%;
		width: 0;
		vertical-align: middle;
	}
}
*/
.container {
  display: inline-block;
  vertical-align: middle; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.generator {
  float: left;
  background: #605b5e;
  width: 700px;
  height: 670px; }
  .generator__title {
    font-size: 36px;
    font-family: "SegoeUILight";
    color: white;
    margin: 4px 0 56px 23px; }
  .generator__img-wrap {
    background: url(../img/bg-mini.png) repeat;
    width: 650px;
    height: 537px;
    margin: 0 auto; }

.settings {
  float: right;
  background: #f1f1f5;
  width: 260px;
  height: 670px; }

/* общие стили */
body {
  background: fixed url(../img/bg.png) no-repeat;
  background-size: cover; }
