@charset "UTF-8";
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- variables --------- */
/* colors */
/* --------- fonts --------- */
/* fonts */
@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'fira_sanslight';
  src: url("../fonts/firasans-light-webfont.eot");
  src: url("../fonts/firasans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-light-webfont.woff2") format("woff2"), url("../fonts/firasans-light-webfont.woff") format("woff"), url("../fonts/firasans-light-webfont.ttf") format("truetype"), url("../fonts/firasans-light-webfont.svg#fira_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

/* fonts end */
/* --------- sections --------- */
.main-img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden; }

.main-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.draggable {
  position: absolute;
  z-index: 2; }

.location {
  position: relative;
  height: 100px;
  opacity: .5; }

.radio {
  width: 101px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #9eb2c0;
  display: inline-block;
  vertical-align: top;
  position: relative; }

.coordinates {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  position: relative;
  height: inherit;
  display: inline-block; }

.coordinates__input {
  display: block;
  width: 45px;
  height: 45px;
  border: 1px solid #9eb2c0;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  line-height: 45px;
  background: #dbe1e8; }

.coordinates__block {
  position: absolute; }

.coordinates__blockX {
  top: 0; }

.coordinates__blockY {
  bottom: 0; }

.coordinates__input_loc {
  position: absolute;
  background: url(../img/st1.png) 0 0 no-repeat;
  width: 13px;
  height: 8px;
  right: -21px;
  cursor: pointer; }

.coordinates__input_loc:hover {
  background-position: -14px 0; }

.coordinates__input_loc-up {
  top: 5px; }

.coordinates__input_loc-bottom {
  bottom: 5px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
  border: none;
  outline: none; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.radio_button {
  display: none; }

.radio__label {
  width: 34px;
  height: 36px;
  box-sizing: border-box;
  background: #dbe1e8;
  border: 1px solid #9eb2c0;
  border-right: none;
  margin-left: -1px;
  margin-top: -2px;
  margin-right: 0;
  float: left;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s; }

.click:checked + .radio__label {
  cursor: pointer; }

.click:checked + .radio__label, .click[checked="checked"] + .radio__label {
  background: #f97e76; }

/*! jQuery UI - v1.11.4 - 2015-08-27
* http://jqueryui.com
* Includes: core.css, draggable.css, slider.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Segoe%20UI%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=8px&bgColorHeader=817865&bgTextureHeader=gloss_wave&bgImgOpacityHeader=45&borderColorHeader=494437&fcHeader=ffffff&iconColorHeader=fadc7a&bgColorContent=feeebd&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=8e846b&fcContent=383838&iconColorContent=d19405&bgColorDefault=fece2f&bgTextureDefault=gloss_wave&bgImgOpacityDefault=60&borderColorDefault=d19405&fcDefault=4c3000&iconColorDefault=3d3d3d&bgColorHover=ffdd57&bgTextureHover=gloss_wave&bgImgOpacityHover=70&borderColorHover=a45b13&fcHover=381f00&iconColorHover=bd7b00&bgColorActive=ffffff&bgTextureActive=inset_soft&bgImgOpacityActive=30&borderColorActive=655e4e&fcActive=0074c7&iconColorActive=eb990f&bgColorHighlight=fff9e5&bgTextureHighlight=gloss_wave&bgImgOpacityHighlight=90&borderColorHighlight=eeb420&fcHighlight=1f1f1f&iconColorHighlight=ed9f26&bgColorError=d34d17&bgTextureError=diagonals_medium&bgImgOpacityError=20&borderColorError=ffb73d&fcError=ffffff&iconColorError=ffe180&bgColorOverlay=5c5c5c&bgTextureOverlay=flat&bgImgOpacityOverlay=50&opacityOverlay=80&bgColorShadow=cccccc&bgTextureShadow=flat&bgImgOpacityShadow=30&opacityShadow=60&thicknessShadow=7px&offsetTopShadow=-7px&offsetLeftShadow=-7px&cornerRadiusShadow=8px
* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */ }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
  /* support: IE8 */ }

.ui-front {
  z-index: 100; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-draggable-handle {
  -ms-touch-action: none;
  touch-action: none; }

.ui-slider {
  position: relative;
  text-align: left; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit; }

.ui-slider-horizontal {
  height: 3px; }

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

.ui-slider-vertical {
  width: .8em;
  height: 100px; }

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em; }

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%; }

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0; }

.ui-slider-vertical .ui-slider-range-max {
  top: 0; }

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Segoe UI,Arial,sans-serif;
  font-size: 1.1em; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Segoe UI,Arial,sans-serif;
  font-size: 1em; }

.ui-widget-content {
  background: #dbe1e8;
  color: #383838; }

.ui-widget-content a {
  color: #383838; }

.ui-widget-header {
  background: #9eb2c0;
  color: #ffffff;
  font-weight: bold; }

.ui-widget-header a {
  color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-widget-content .ui-state-default {
  background: #dbe1e8;
  outline: none;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7);
  border-radius: 50%; }

.ui-widget-content .ui-state-default:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  background: #9eb2c0;
  border-radius: 50%; }

.ui-widget-content .ui-state-default:active:after {
  background: #69b5eb; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #eeb420;
  background: #fff9e5;
  color: #1f1f1f; }

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #1f1f1f; }

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #ffb73d;
  background: #d34d17;
  color: #ffffff; }

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #ffffff; }

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #ffffff; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  /* support: IE8 */
  font-weight: normal; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  /* support: IE8 */
  background-image: none; }

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* support: IE8 - See #6059 */ }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 16px;
  height: 16px; }

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 8px; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 8px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 8px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 8px; }

/* иконки слева - язык и share */
.icons {
  position: fixed;
  top: 100px;
  left: 0; }
  .icons__language {
    margin: 0 0 18px 0;
    font-family: "SegoeUILight";
    font-size: 20px; }
    .icons__language-link {
      display: block;
      padding: 4px 2px;
      color: #999ca1;
      margin-bottom: 1px;
      background: #d7d5d7;
      text-align: center; }

.icons__share-link {
  display: block;
  width: 43px;
  height: 41px;
  background: #d7d5d7 url(../img/sprite.png) no-repeat;
  text-indent: -9999px; }

.icons__share-link--like {
  position: absolute;
  top: 0px;
  left: 43px;
  background-position: -12px -157px;
  text-indent: -9999px; }
  .icons__share-link--like:hover {
    background-position: -12px -209px; }

.icons__share-link--like:hover {
  left: 43px;
  top: 0; }

.icons__share-item--socials {
  display: block; }

.icons__share {
  position: absolute;
  left: 0; }

.icons__share-link--fb {
  background-position: -7px -342px; }
  .icons__share-link--fb:hover {
    background-position: -7px -295px; }

.icons__share-link--tw {
  background-position: -13px -109px; }
  .icons__share-link--tw:hover {
    background-position: -13px -67px; }

.icons__share-link--vk {
  background-position: -15px -26px; }
  .icons__share-link--vk:hover {
    background-position: -15px 12px; }

.icons__socials {
  position: absolute;
  left: -44px;
  -webkit-transition: left linear 0.5s;
  -moz-transition: left linear 0.5s;
  -ms-transition: left linear 0.5s;
  -o-transition: left linear 0.5s;
  transition: left linear 0.5s; }
  .icons__socials:hover {
    left: 0; }

.footer {
  width: 100%;
  min-width: 1000px;
  height: 50px;
  text-align: center;
  padding: 7px 0px;
  margin-top: -50px;
  box-sizing: border-box; }
  .footer__text {
    font-family: 'fira_sanslight';
    font-size: 12px;
    color: white; }

/* стили по умолчанию */
a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

address {
  font-style: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

input, textarea {
  outline: none;
  border: none; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%; }

/* чтобы прибить футер к низу */
.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table; }

.main-content {
  padding: 60px 0px 65px 0px;
  position: relative;
  display: table-cell;
  vertical-align: middle; }

.main-content__wrapper {
  max-width: 960px;
  margin: 0 auto; }

/* defaul style end  */
/* блок настройки */
.settings {
  color: #2e3641; }
  .settings__title {
    text-align: center;
    font-size: 26px;
    font-family: 'robotolight';
    margin: 16px 0 34px 0; }

/* инпуты */
.settings__label {
  font-size: 14px;
  font-family: 'robotolight';
  display: block; }

.settings__form {
  width: 218px;
  margin: 0 auto; }

.settings__input {
  margin-top: 5px;
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  color: #9eb2c0;
  outline: none;
  padding: 3px 3px 3px 5px;
  line-height: 21px;
  cursor: pointer;
  height: 27px;
  position: relative;
  box-sizing: border-box; }
  .settings__input:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #9eb2c0;
    border-radius: 3px; }
  .settings__input:after {
    content: ' ';
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    width: 37px;
    height: 27px;
    background: url(../img/sprite.png) -12px -259px no-repeat #f97e76;
    border-radius: 0 4px 4px 0;
    right: -1px;
    top: 0px; }
  .settings__input-hide {
    display: none;
    overflow: hidden; }

.settings__form-wrap {
  margin-bottom: 25px; }

/* инпуты END */
/* линия красная с уголком */
.line-top {
  border-top: 1px solid #f4c3c2;
  position: relative; }
  .line-top:after {
    position: absolute;
    z-index: 2;
    bottom: -10px;
    left: 50%;
    margin-left: -9px;
    content: '';
    top: 0px;
    border-top: 10px solid #f4c3c2;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent; }
  .line-top:before {
    top: -1px;
    position: absolute;
    z-index: 5;
    bottom: -8px;
    left: 50%;
    margin-left: -9px;
    content: '';
    border-top: 10px solid #f1f1f5;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent; }

/* положение */
.settings__position {
  min-height: 205px;
  padding: 13px 20px 35px 20px;
  box-sizing: border-box; }
  .settings__position-title {
    font-size: 14px;
    font-family: 'robotolight';
    margin-bottom: 38px; }

/* прозрачность */
.settings__opacity {
  min-height: 98px;
  padding: 13px 20px 33px 20px;
  box-sizing: border-box; }
  .settings__opacity-title {
    font-size: 14px;
    font-family: 'robotolight';
    margin-bottom: 20px; }

/* кнопки */
.settings__btn {
  padding: 57px 11px 25px 11px; }
  .settings__btn:before, .settings__btn:after {
    content: " ";
    display: table; }
  .settings__btn:after {
    clear: both; }
  .settings__btn-reset {
    float: left;
    background: #c1cfd9; }
  .settings__btn-download {
    float: right;
    background: #f97e76; }

.form__btn {
  outline: none;
  border: none;
  padding: 8px;
  color: #f1f1f5;
  font-size: 18px;
  font-family: 'robotomedium';
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 99px; }

/* главный контейнер */
.container {
  min-width: 960px;
  display: inline-block;
  vertical-align: middle; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.generator {
  float: left;
  background: #605b5e;
  width: 700px;
  height: 670px; }
  .generator__title {
    font-size: 36px;
    font-family: "SegoeUILight";
    color: white;
    margin: 4px 0 56px 23px; }
  .generator__img-wrap {
    position: relative;
    background: url(../img/bg-mini.png) repeat;
    width: 650px;
    height: 538px;
    margin: 0 auto; }

.settings {
  float: right;
  background: #f1f1f5;
  width: 260px;
  height: 670px; }

/* общие стили */
body {
  background: fixed url(../img/bg.png) no-repeat;
  background-size: cover; }
