/* главный контейнер */

.container {

	@include clearfix();
	//overflow: hidden;
	//position: relative;
	//margin: 60px auto 20px;
	min-width: 960px;
	display: inline-block;
	vertical-align: middle;

}

.generator {
  float: left;
  background: $bg-generator;
  width: 700px;
  height: 670px;
  &__title {
    font-size: 36px;
    font-family: "SegoeUILight";
    color: white;
    margin: 4px 0 56px 23px;
  }
  &__img-wrap {
    position: relative;
    background: url(../img/bg-mini.png) repeat;
    width: 650px;
    height: 538px;
    margin: 0 auto;

  }
}
.settings {
  float: right;
  background: $bg-settings;
  width: 260px;
  height: 670px;
}