/* главный контейнер */
.main-content {
	text-align: center;
	  position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
}
	//vertical-align: middle;
	/* &:before {
		content: "";
		display: inline-block;
		height: 100%;
		width: 0;
		vertical-align: middle;
	}
}
*/
.container {
	@include clearfix();
	//overflow: hidden;
	//position: relative;
	//margin: 60px auto 20px;
	//width: 960px;
	display: inline-block;
	vertical-align: middle;
}

.generator {
	float: left;
	background: $bg-generator;
	width: 700px;
	height: 670px;
		&__title {
			font-size: 36px;
			font-family: "SegoeUILight";
			color: white;
			margin: 4px 0 56px 23px;
		}
		&__img-wrap {
			background: url(../img/bg-mini.png) repeat;
			width: 650px;
			height: 537px;
			margin: 0 auto;
		}
}
.settings {
	float: right;
	background: $bg-settings;
	width: 260px;
	height: 670px;
}