// .js-container {

//   box-sizing:border-box;

//   position: absolute;
//   overflow: hidden;
//   display: block;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }
.main-img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.main-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.draggable {
  position: absolute;
  z-index: 2;
}
.containmentForWatermarks {
  position: absolute;
  // width: 400%;
  // height: 400%;
}
.repeatBlock {
  position: absolute;
  top: 0px;
  left: 0px;
  //right: 0px;
  //transform: translate(-50%, -50%);
  z-index: 2;
  // width: 200%;
  // height: 200%;
  overflow: hidden;
  margin-left: 0;

  .draggable {
    position: relative;
    display: block;
    float: left;
  }
}
.draggable.transition {
  transition: all ease .3s;
}
.repeatBlock.transition {
  transition: all ease .4s;
}

.location {
  position: relative;
  height: 100px;
  opacity: .5;
}
.radio {
  width: 100px;
  height: 104px;
  box-sizing: border-box;
  border-radius: 3px;
  /* overflow: hidden; */
  /* border: 1px solid #9eb2c0; */
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.coordinates {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  height: inherit;
  right: 20px;
  display: inline-block;
}
.coordinates__input {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 1px solid #9eb2c0;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  line-height: 45px;
  background: #dbe1e8;
  margin-left: 5px;
}
.coordinates__block {
  position: relative;
}
.coordinates__blockX {
  top: 0;
}

.coordinates__blockY {
  bottom: -10px;
}
.coordinates__input_loc {
  position: absolute;
  background: url(../img/st1.png) 0 0 no-repeat;
  width: 13px;
  height: 8px;
  right: -21px;
}
.coordinates__input_loc.js-hover:hover {
  background-position: -14px 0;
  cursor: pointer;
}
.coordinates__input_loc-up {
  top: 5px;
}
.coordinates__input_loc-bottom {
  bottom: 5px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
  border: none;
  outline: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.radio_button {
  display: none;
}
.radio__label {
  width: 34px;
  height: 36px;
  box-sizing: border-box;
  background: #dbe1e8;
  border: 1px solid #9eb2c0;
  /* border-right: none; */
  margin-right: -1px;
  margin-top: -1px;
  /* margin-right: 0; */
  float: left;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  //border-radius: 3px;
}
.radio__label:nth-of-type(1) {
  border-radius: 3px 0 0 0;
}
 .radio__label:nth-of-type(3) {
   border-radius: 0 3px 0 0;
 }
 .radio__label:nth-of-type(7){
   border-radius: 0 0  0 3px;
 }
.radio__label:nth-of-type(9) {
   border-radius: 0 0 3px 0;
 }

.click:checked + .radio__label {
  cursor: pointer;
}
.click:checked + .radio__label, .click[checked="checked"] + .radio__label {
    background: #f97e76;
    cursor: default !important;
}

.slider.not_work {
  opacity: .5;
}
.slider.not_work .ui-state-default:active:after {
	background: #9eb2c0;
}
// .slider.not_work .ui-state-default:hover {
//   cursor: default;
// }
.appendedImg {
  margin-right: 0;
  margin-bottom: 0;
}
.margins {
  position: absolute;
  background: #f97e76;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;


}
.marginX {
  height: 100%;
  max-width: 96%;
}
.marginY {
  width: 98%;
  max-height: 96%
}

.cssload-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(0,0,0,0.5);
  display: none;
}

.cssload-circle-1 {
  height: 118px;
  width: 118px;
  background: #612e8d;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -59px;
  margin-top: -59px;
}

.cssload-circle-2 {
	height: 97px;
	width: 97px;
	background: rgb(194,34,134);
}

.cssload-circle-3 {
	height: 78px;
	width: 78px;
	background: rgb(234,34,94);
}

.cssload-circle-4 {
	height: 58px;
	width: 58px;
	background: rgb(237,91,53);
}

.cssload-circle-5 {
	height: 39px;
	width: 39px;
	background: rgb(245,181,46);
}

.cssload-circle-6 {
	height: 19px;
	width: 19px;
	background: rgb(129,197,64);
}

.cssload-circle-7 {
	height: 10px;
	width: 10px;
	background: rgb(0,163,150);
}

.cssload-circle-8 {
	height: 5px;
	width: 5px;
	background: rgb(22,116,188);
}

.cssload-circle-1,
.cssload-circle-2,
.cssload-circle-3,
.cssload-circle-4,
.cssload-circle-5,
.cssload-circle-6,
.cssload-circle-7,
.cssload-circle-8 {
	border-bottom: none;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
		-o-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
		-ms-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
		-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	animation-name: cssload-spin;
		-o-animation-name: cssload-spin;
		-ms-animation-name: cssload-spin;
		-webkit-animation-name: cssload-spin;
		-moz-animation-name: cssload-spin;
	animation-duration: 4600ms;
		-o-animation-duration: 4600ms;
		-ms-animation-duration: 4600ms;
		-webkit-animation-duration: 4600ms;
		-moz-animation-duration: 4600ms;
	animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
	animation-timing-function: linear;
		-o-animation-timing-function: linear;
		-ms-animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
}



@keyframes cssload-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-spin {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spin {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
