// .js-container {

//   box-sizing:border-box;

//   position: absolute;
//   overflow: hidden;
//   display: block;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }
.main-img-container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.main-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.draggable {
  position: absolute;
  z-index: 2;
}
.location {
  position: relative;
  height: 100px;
}
.radio {
  width: 101px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #9eb2c0;
  display: inline-block;
  vertical-align: top;
  position: relative;

}
.coordinates {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  position: relative;
  height: inherit;
  display: none;
}
.coordinates__input {
  display: block;
  width: 45px;
  height: 45px;
  border: 1px solid #9eb2c0;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  line-height: 45px;
}
.coordinates__block {
  position: absolute;
}
.coordinates__blockX {
  top: 0;
}
.coordinates__blockY {
  bottom: 0;
}
.coordinates__input_loc {
  position: absolute;
  background: url(../img/st1.png) 0 0 no-repeat;
  width: 13px;
  height: 8px;
  right: -21px;
  cursor: pointer;
}
.coordinates__input_loc:hover {
  background-position: -14px 0;
}
.coordinates__input_loc-up {
  top: 5px;
}
.coordinates__input_loc-bottom {
  bottom: 5px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}



.radio_button {
  display: none;
}
.radio__label {
  width: 34px;
  height: 36px;
  box-sizing: border-box;
  background: #dbe1e8;
  border: 1px solid #9eb2c0;
  border-right: none;
  margin-left: -1px;
  margin-top: -2px;
  margin-right: 0;
  float: left;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.click:checked + .radio__label {
  cursor: pointer;
}
.click:checked + .radio__label, .click[checked="checked"] + .radio__label {
    background: #f97e76;
}
