/* стили по умолчанию */
* { box-sizing: border-box }
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
	padding: 0; margin: 0;
}
address {
	font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

input, textarea {
	outline: none;
	border: none;
}

html {
	height:100%;
	width: 100%;
}
body {
	height:100%;
}

/* чтобы прибить футер к низу */
.wrapper {

		position: relative;
		min-height: 100%;
		min-width: 100%;
		height: auto!important;
		overflow: hidden;
		&:after {
			content: "";
			height: 50px;
			display: block;
		}
}


/* defaul style end */
