/* блок настройки */
.settings {
	color: $main-text;
	&__title {
		text-align: center;
		font-size: 26px;
		font-family: 'robotolight';
		margin: 16px 0 34px 0;
	}
}
/* инпуты */
.settings {
		&__label {
		font-size: 14px;
		font-family: 'robotolight';
		display: block;
		}
		&__form {
		width: 218px;
		margin: 0 auto;
		}
		&__input {
			margin-top: 5px;
			width: 100%;
			font-size: 12px;
			overflow: hidden;
			color: $border;
			outline: none;
			padding: 3px 3px 3px 5px;
			line-height: 21px;
			cursor: pointer;
			height: 27px;
			position: relative;
			box-sizing: border-box;
			&:before {
			position: absolute;
			top:0;
			left:0;
			content : '';
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			border: 1px solid $border;
			border-radius: 3px;
				}
			&:after {
				content: ' ';
				cursor: pointer;
				position: absolute;
				overflow: hidden;
				width: 37px;
				height: 27px;
				background: url(../img/sprite.png) -12px -259px no-repeat $main-red;
				border-radius: 0 4px 4px 0;
				right: -1px;
				top: 0px;
			}
			&-hide {
				display: none;
				overflow: hidden;
			}
		}
}
.settings__form-wrap {
		margin-bottom: 25px;
}

/* инпуты END */

/* линия красная с уголком */
.line-top {
		border-top: 1px solid $red-line;
		position: relative;
		&:after {
			position: absolute;
			z-index: 2;
			bottom: -10px;
			left: 50%;
			margin-left: -9px;
			content: '';
			top: 0px;
			border-top: 10px solid $red-line;
			border-right: 9px solid transparent;
			border-left: 9px solid transparent;

		}
		&:before {
			top: -1px;
			position: absolute;
			z-index: 5;
			bottom: -8px;
			left: 50%;
			margin-left: -9px;
			content: '';
			border-top: 10px solid $bg-settings;
			border-right: 9px solid transparent;
			border-left: 9px solid transparent;
			}
	}

/* положение */
.settings__position {
	min-height: 205px;
	padding: 13px 20px 35px 20px;
	box-sizing: border-box;
		&-title {
			font-size: 14px;
			font-family: 'robotolight';
			margin-bottom: 38px;
		}
}

/* прозрачность */
.settings__opacity {
	min-height: 98px;
	padding: 13px 20px 33px 20px;
	box-sizing: border-box;
	&-title {
			font-size: 14px;
			font-family: 'robotolight';
			margin-bottom: 20px;
		}
}

/* кнопки */
.settings__btn {
	@include clearfix();
	padding: 57px 11px 25px 11px;
		&-reset {
			float: left;
			background: $btn-grey;
		}
		&-download {
			float: right;
			background: $main-red;
		}
}
.form__btn {
		outline: none;
		border: none;
		padding: 8px;
		color: $btn-color;
		font-size: 18px;
		font-family: 'robotomedium';
		@include border-radius (3px);
		width: 99px;
}
