/* --------- variables --------- */

/* colors */
$main-red:					#f97e76;
$red-line:					#f4c3c2;
$main-text:					#2e3641;
$border:					#9eb2c0;
$btn-grey:					#c1cfd9;
$position-bg:				#dbe1e8;
$bg-settings:				#f1f1f5;
$bg-generator:				#605b5e;
$bg-icons:					#d7d5d7;

