extends ../layouts/main_layout.jade

block content
	include ../common/icons.jade
	.main-content__wrapper
		.container
			section.generator
				.generator__title(data-lang='["Генератор водяных знаков", "Watermark generator"]') Генератор водяных знаков
				.generator__img-wrap.cont
					.main-img-container
						img#picture.main-img
						img#watermark.opacity_block.draggable.radio_position
			section.settings
					.settings__title(data-lang='["Настройки", "Settings"]') Настройки
					form(action='' , method='get')
						.settings__form
							.settings__form-wrap
								label.settings__label(for='input-picture')
									span(data-lang='["Исходное изображение", "Original image"]') Исходное изображение
									input#input-picture.settings__input-hide(type= 'file', data-img="picture", data-fakeinput="fakeinput-picture")
									div#fakeinput-picture.settings__input(data-lang='["Выберите файл", "Choose file"]') Выберите файл
							.settings__form-wrap
								label.settings__label(for='input-watermark')
									span(data-lang='["Водяной знак", "Watermark"]') Водяной знак
									input#input-watermark.settings__input-hide(type= 'file', data-img="watermark", data-fakeinput="fakeinput-watermark", disabled="disabled")
									div#fakeinput-watermark.settings__input(data-lang='["Выберите файл", "Choose file"]') Выберите файл
						.settings__position.line-top
							.settings__position-title
								span(data-lang='["Положение", "Location"]') Положение
								.settings__position-buttons
									.settings__position-btn.settings__position-btn_many
										.settings__position-btn_min
										.settings__position-btn_min
									.settings__position-btn.settings__position-btn_one.btn-active
							.location
								.coordinates
									.coordinates__block.coordinates__blockX
										span.coordinates__block_name X
										input.coordinates__input.posX(value="", readonly="readonly")
									.coordinates__block.coordinates__blockY
										span.coordinates__block_name Y
										input.coordinates__input.posY(value="", readonly="readonly")

						.settings__opacity.line-top
							.settings__opacity-title(data-lang='["Прозрачность", "Opacity"]') Прозрачность
							.slider.not_work
								.ui-slider

						.settings__btn.line-top
							button.settings__btn-reset.form__btn(type='reset', data-lang='["Сброс", "Reset"]') Сброс
							button.settings__btn-download.form__btn(type='submit', data-lang='["Скачать", "Download"]') Скачать
