extends ../layouts/main_layout.jade

block content
	include ../common/icons.jade
	.main-content__wrapper
		.container
			section.generator
				.generator__title.text(data-ru="Генератор водяных знаков", data-en="Watermark generator") Генератор водяных знаков
				.generator__img-wrap.cont
					.main-img-container
						img#picture.main-img
						img#watermark.opacity_block.draggable.radio_position
			section.settings
					.settings__title.text(data-ru="Настройки", data-en="Settings") Настройки
					form(action='' , method='get')
						.settings__form
							.settings__form-wrap
								label.settings__label(for='input-picture') Исходное изображение
									input#input-picture.settings__input-hide(type= 'file', data-img="picture", data-fakeinput="fakeinput-picture")
									div#fakeinput-picture.settings__input Выберите файл
							.settings__form-wrap
								label.settings__label(for='input-watermark') Водяной знак
									input#input-watermark.settings__input-hide(type= 'file', data-img="watermark", data-fakeinput="fakeinput-watermark", disabled="disabled")
									div#fakeinput-watermark.settings__input Выберите файл
						.settings__position.line-top
							.settings__position-title Положение
								.settings__position-buttons
									.settings__position-btn.settings__position-btn_many
										.settings__position-btn_min
										.settings__position-btn_min
									.settings__position-btn.settings__position-btn_one.btn-active
							.location
								.coordinates
									.coordinates__block.coordinates__blockX
										span.coordinates__block_name X
										input.coordinates__input.posX(value="", readonly="readonly")
									.coordinates__block.coordinates__blockY
										span.coordinates__block_name Y
										input.coordinates__input.posY(value="", readonly="readonly")

						.settings__opacity.line-top
							.settings__opacity-title Прозрачность
							.slider.not_work
								.ui-slider

						.settings__btn.line-top
							button.settings__btn-reset.form__btn(type='reset') Сброс
							button.settings__btn-download.form__btn.text(type='submit', data-ru="Скачать", data-en="Download") Скачать
