extends ../layouts/main_layout.jade

block content
		include ../common/icons.jade
		.container
			section.generator
				.generator__title Генератор водяных знаков
				.generator__img-wrap
			section.settings
					.settings__title Настройки
					form(action='' , method='get')
						.settings__form
							.settings__form-wrap
									label.settings__label(for='original-img') Исходное изображение
										input.settings__input-hide(id='original-img', type= 'file')
										div.settings__input image.jpg
							.settings__form-wrap
									label.settings__label(for='water-mark') Водяной знак
										input.settings__input-hide(id='water-mark', type= 'file')
										div.settings__input image.png
						.settings__position.line-top
							.settings__position-title Положение
							.settings__position-radiobtn
							.settings__position-coordinates
						.settings__opacity.line-top
							.settings__opacity-title Прозрачность
							.settings__opacity-slider
						.settings__btn.line-top
							button.settings__btn-reset.form__btn(type='reset') Сброс
							button.settings__btn-download.form__btn(type='submit') Скачать








