extends ../layouts/main_layout.jade

block content
	include ../common/icons.jade
	.main-content__wrapper
		.container
			section.generator
				.generator__title Генератор водяных знаков
				.generator__img-wrap.cont
					.main-img-container
						img#picture.main-img
						img#watermark.opacity_block.draggable.radio_position
			section.settings
					.settings__title Настройки
					form(action='' , method='get')
						.settings__form
							.settings__form-wrap
									label.settings__label(for='original-img') Исходное изображение

										input.settings__input-hide(id='original-img', type= 'file', data-img="#picture", data-fakeinput="#picture-fakeinput")
										div#picture-fakeinput.settings__input Выберите файл
							.settings__form-wrap
									label.settings__label(for='water-mark') Водяной знак
										input.settings__input-hide(id='water-mark', type= 'file', data-img="#watermark", data-fakeinput="#watermark-fakeinput")
										div#watermark-fakeinput.settings__input Выберите файл

						.settings__position.line-top
							.settings__position-title Положение
							.location
								.coordinates
									.coordinates__block.coordinates__blockX
										input.coordinates__input.posX(value="0")
									.coordinates__block.coordinates__blockY
										input.coordinates__input.posY(value="0")

						.settings__opacity.line-top
							.settings__opacity-title Прозрачность
							.slider
								.ui-slider

						.settings__btn.line-top
							button.settings__btn-reset.form__btn(type='reset') Сброс
							button.settings__btn-download.form__btn(type='submit') Скачать
