head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	block title
		title Сервис наложения водяных знаков | WaterMark LoftTeam #1
	//-seo
	meta(name="description", content="Сервис позволяет быстро и удобно наложить одиночный водяной знак или замостить поверхность исходного изображения")
	meta(name="keywords", content="watermark, service, watermark service, наложить водяной знак, наложить ватермарк, сервис ватермарков")
	meta(name="author", content="Анастасия Ким, Демьян Дроздов , Андрей Баландин, Тимур Арбаев")
	//-favicon
	link(rel='shortcut icon', href='./favicon.ico', type='image/x-icon')
	link(rel='icon', href='./favicon.ico', type='image/x-icon')

	// build:css css/vendor.min.css
	// bower:css
	link(rel='stylesheet', href='bower/normalize-css/normalize.css')
	// endbower
	// endbuild
	// build:css css/style.min.css
	link(rel='stylesheet', href='css/main.css')
	//endbuild
	// build:css css/oldIe.min.css
	<!--[if lte IE 8]>
	link(rel='stylesheet', href='css/oldIe.css')
	<![endif]-->
	// endbuild
	// build:js js/modernizr.min.js
	script(src='bower/modernizr/modernizr.js')
	// endbuild
