// build:js js/vendor.min.js
// bower:js
script(src='bower/jquery/dist/jquery.js')
script(src='bower/jquery-ui/jquery-ui.js')
// endbower
// endbuild
// build:js js/main.min.js
script(src='js/modules.js')
script(src='js/main.js')
// endbuild