// build:js js/vendor.min.js
// bower:js
script(src='bower/jquery/dist/jquery.js')
// endbower
script(src='js/jquery-ui.min.js')
// endbuild



// build:js js/main.min.js
script(src='js/modules.js')
script(src='js/main.js')
script(src='js/imgsubmit.js')
// endbuild

// build:js js/upload.js
script(src='js/upload.js')
// endbuild